.about {
  max-width: 800px;
  margin: 4rem auto;
  padding: 2rem;
  background: white;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  line-height: 1.6;
  text-align: center;
}
.about h1{
  font-size: 3rem;
}

