.home {
  background-image: url("scary toy store.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}

.home-title {
  font-size: 6rem;
  letter-spacing: 20px;
  color: var(--clrbrightred);
  transition: transform 0.4s ease;
}

.home-title:hover {
  transform: skewY(-10deg) scaleY(1.2);
  filter:blur(5px)
}


.home-cover {
  width: 100%;
  height: 100vh;
  background-image: url("scary toy store.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.6);
}
.nightmare-banner {
  position: absolute;
  bottom: 5%;
  left: 50%;
  font-size: 4rem;
  letter-spacing: 10px;
  color: var(--clrbrightred);
  text-shadow: 0 0 20px var(--clrbrightred);
  font-weight: bold;
  text-align: center;
  transform: translate(-50%, -50%);
  animation: flash 1.3s infinite alternate;
}


@keyframes flash {
  0% {
    opacity: 1;
    filter: blur(0px);
  }
  100% {
    opacity: 0.2;
    filter: blur(4px);
  }
}


