.login-page {
text-align: center;
}

.login-page .login-form {
display: flex;
flex-direction: column;
align-items: center;
font-size: 1.5rem;
gap: 1em;
font-family: 'Edu VIC WA NT Beginner', cursive;
width: 50vw;
margin: auto;
margin-block: 100px 50px;
}
.btns{
    cursor: pointer;
}