:root {
  --clr1: rgb(96, 107, 91);
  --clr2: rgb(120, 99, 110);

  --clr1bg: rgb(153, 166, 149);
  --clr1bg-light: rgb(205, 221, 200);
  --clr2bg: rgb(233, 206, 221);
  --clr2bg-light: rgb(253, 236, 246);

  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);

  --bgcscarycolor: linear-gradient(135deg, #8b0000, #1a0000);
  --clrhoveryellow:  #ffdd57;
  --clrbrightred:  #e63946;
  --clrbtnnbluebright: hsl(212, 73%, 59%);
  --clrbtnnbluedark: hsl(212, 73%, 39%);
  --clrinstock: #27ae60;
  --clrdarkred: #5a0000

} 