/* Setup */
@import "setup/vars.css";
@import "setup/typography.css";

/* Base */
@import "base/base.css";
@import "base/helpers.css";
@import "base/layout.css";
@import "base/forms.css";

/* Components */
@import "../styles/cmps/AppHeader.css";
@import "../styles/cmps/ToyList.css";
@import "../styles/cmps/Popup.css";
@import "../styles/cmps/ToyPreview.css";
@import "../styles/cmps/UserMsg.css";
@import "../styles/cmps/ToyFilter.css";
@import "../styles/cmps/NoToys.css";
@import "../styles/cmps/Footer.css";






/* Pages */
@import "../styles/pages/Home.css";
@import "../styles/pages/About.css";
@import "../styles/pages/ToyIndex.css";
@import "../styles/pages/ToyDetails.css";
@import "../styles/pages/ToyEdit.css";
@import "../styles/pages/Dashboard.css"
